<!DOCTYPE html>
<html>

<head>
  <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
  <script data-require="angular.js@*" data-semver="1.5.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>

<body ng-app="Calculator">
  <h1>Calculartor!</h1>
  <div ng-controller="MainController">
    <div class="row">
      <div class="col-xs-8 ">
        <input class="form-control" type="text" ng-model="userInput" />
      </div>
      <div class="col-xs-4">
        <button class="btn btn-primary" ng-click="calc()">=</button>
      </div>
      <div  class="row details">
        <div class="col-xs-12 ">
        <p ng-show="exp">Exponents: {{exp}}</p>
        <p ng-show="sqrt">Square Root: {{sqrt}}</p>
        <p ng-show="mult">Multipliers: {{mult}}</p>
        <p ng-show="div">Divisors: {{div}}</p>
        <p ng-show="add">Addition: {{add}}</p>
        <p ng-show="sub">Substraction: {{sub}}</p>
        </div>
      </div>
    </div>

    Result:
    <label>{{result}}</label>

  </div>
</body>

</html>